@use '../../styles/_variables' as v;

.proposition-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 250px;
  margin: 2rem auto;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  color: v.$color-text;

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    margin-right: 5rem;
  }

  &-image {
    max-width: 300px;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding: 1rem;
    padding-right: 6rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-size: 1.5rem;
    }
  }

  &-author {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: v.$color-grey-darkest;
  }

  &-localisation,
  &-description,
  &-url {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &-localisation {
    padding-top: 0.6rem;
  }

  &-url-detail {
    text-decoration: underline;
  }

  &-icons {
    position: absolute;
    top: 43px;
    right: 16px;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0.6rem;
    z-index: 9;
  }

  &-like {
    position: absolute;
    display: flex;
    align-items: center;
    gap:0.4rem;
    right: 1rem;
    bottom: 3rem;
    z-index: 10;

    &-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap:0.2rem;
      padding:0 0.3rem;
      border-radius: v.$border-radius;
      border:none;
      background-color: transparent;

      &:hover {
        background-color: v.$color-grey-lightest;
        border-radius: v.$border-radius;
        padding:0 0.3rem;
        
      }
    }

    &-icon {
      cursor: pointer;
      font-size: 1.2rem;
    }

    &--active {
      color: v.$color-primary;
    }
  }
}

// RESPONSIVE Screen < 999px
@media (max-width: 999px) {

  .proposition-card {
    flex-direction: column;
    height: 100%;
  }
}

