@use '../../styles/_variables' as v;

.proposition-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 800px;
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: v.$color-text;
  text-decoration: none;

  &-image {
    width: 40%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
  }

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 1.5rem;
    }

    &-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
    }
  }

  &-author {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: v.$color-grey-darkest;
  }

  &-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &-url-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
