@use '../../styles/_variables' as v;

.proposition-card {
  &-url-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 200px;
    margin: 2rem auto;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    color: v.$color-text;
  }

  &-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-size: 1.5rem;
    }
  }

  &-author {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: v.$color-grey-darkest;
  }

  &-localisation,
  &-url-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.proposition-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.proposition-card-header-icon {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  z-index: 9;
}
