@use '../../styles/variables' as v;

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 90%;
  height: 640px;
  padding: v.$gutter;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
