@use '../../styles/variables' as v;

.button-icon {
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  background-color: v.$color-white;
  color: v.$color-accent;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: v.$color-grey-lightest;
  }

  &--i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
