@use '../../styles/variables' as v;

.about {
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 4.5rem;
    padding: 3rem 0;
    background-color: v.$color-bg;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 90%;
    height: 100%;
    gap: 1rem;
  }

  &-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    height: 300px;
    padding: v.$gutter;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  &-name {
    height: 40%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }

  &-role {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

}

