@use '../../styles/variables' as v;

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4.5rem;
  padding: 0.8rem 3rem;
  background-color: v.$color-white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;

  &-logo {
    padding-top: 0.1rem;
    height: 3.5rem;
  }

  &-logo-link {
    text-decoration: none;
    color: v.$color-text;
  }
}
