@use '../../styles/variables' as v;

.field-password {
  position: relative;

  &-strength-meter {
    position: absolute;
    bottom: -0.8rem;
    width: 100%;
    height: 8px;
    background-color: v.$color-grey-lightest2;
    border-radius: v.$border-radius;
  }

  &-progress-bar {
    height: 8px;
    border-radius: v.$border-radius;
  }

  &-strength-text {
    display: flex;
    justify-content: end;
    font-size: 0.9rem;
  }
}
