@use '../../styles/variables' as v;

.one-trip-members {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid v.$color-grey-middle-lighten;

  &-list {
    display: flex;
    gap: 1rem;
  }

  &-btn {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: v.$color-primary-lightest2;
    border: 1px solid v.$color-primary-lightest2;
    border-radius: v.$border-radius;
    padding: calc(0.6rem - 1px);
    color: v.$color-accent;
    transition: all 0.3s ease;

    &.active {
      border: 1px solid v.$color-text;
    }

    &:hover {
      border: 1px solid v.$color-text;
    }
  }
}

.member-menu {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  padding: 0.6rem 0;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: v.$color-text;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;

  &-btn {
    cursor: pointer;
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color: v.$color-white;
    color: v.$color-text;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: v.$color-grey-lightest2;
    }
  }
}
