@use '../../styles/variables' as v;

.edit-profil {
  &-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    padding: 4rem 0.5rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem v.$gutter 2rem v.$gutter;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  &-item {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
}
