@use '../../styles/variables' as v;

.main-profil {
  
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 0,8rem;
  margin-top: 4.5rem;
  background-color: v.$color-grey-lightest;
}

h1 {
  margin: 2;
  font-size: 2rem;
  }

h2 {

  font-size: 1rem;
}

.main-information, .main-data, .main-consent, .main-delete {
  
  width: 700px;
  height: 160px;
  padding: v.$gutter;
  background-color: v.$color-white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: v.$border-radius;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


