@use '../../styles/variables' as v;

.profil-card {
  max-width: 900px;
  width: 90%;
  margin: 1rem 0;
  padding: v.$gutter;
  background-color: v.$color-white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: v.$border-radius;

  &-subtitle {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &-btn-container {
    display: flex;
    justify-content: end;
    margin-top: 0.7rem;
  }
  &-text {
    font-weight: 700;
  }
  &-radio {
    display: flex;
    justify-content: spae-between;
  }
}

.profil-card-toggle-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
}

.profil-card-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.profil-card-toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 50px;
  height: 25px;
  padding: 3px;
  background-color: v.$color-grey;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.profil-card-checkbox-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: v.$color-white;
  transition-duration: 0.2s;
}

#consentCommercial:checked + .profil-card-toggleSwitch {
  background-color: v.$color-primary;
  transition-duration: 0.2s;
}

#consentNewsletter:checked
  + .profil-card-toggleSwitch
  .profil-card-checkbox-slider {
  transform: translateX(26px);
  transition-duration: 0.2s;
}

#consentNewsletter:checked + .profil-card-toggleSwitch {
  background-color: v.$color-primary;
  transition-duration: 0.2s;
}

#consentCommercial:checked
  + .profil-card-toggleSwitch
  .profil-card-checkbox-slider {
  transform: translateX(26px);
  transition-duration: 0.2s;
}
