@use '../../styles/variables' as v;

.main-profil {
  
  align-items: center;
  justify-content: center;
  height : 200px;
  font-size: 0,8rem;
  margin-top: 4.5rem;
  background-color: v.$color-grey-lightest;
}

h2 {

  font-size: 1rem;
}

.main-information {

  border: 0.1rem solid;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2.5rem;
  
}

.main-data {
  
  border: 0.1rem solid;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2.5rem;
}

.main-consent {
  
  border: 0.1rem solid;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2.5rem;
}

.main-delete {

  border: 0.1rem solid;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2.5rem;
  
}

button {

  font-weight: 300;
  border: none;
  border: 3px solid #ff8a5c;
  background-color: white;
  color: #ff8a5c;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;

}



