@use '../../../styles/variables' as v;

.button--outline {
  padding: 0.6rem v.$gutter;
  background-color: transparent;
  border: 2px solid v.$color-primary;
  border-radius: v.$border-radius;
  color: v.$color-primary;
  font-weight: 600;
  font-size: v.$font-size;
  cursor: pointer;
  transition: all 0.3s ease;

  &-link {
    color: v.$color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &:hover {
    background-color: v.$color-primary-lightest2;
  }
}
