@use '../../styles/variables' as v;

.field-date {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;

  &.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  &-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$color-accent;
  }

  &-input {
    width: 100%;
    padding: 0.6rem;
    padding-left: 3.5rem;
    outline: 0;
    background-color: v.$color-white;
    border: 1px solid v.$color-grey-lightest;
    border-radius: v.$border-radius;
    color: v.$color-text;
    font-weight: 300;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid v.$color-accent;
    }
  }

  &-input:focus ~ &-label,
  &-input:not(:placeholder-shown).field-date-input:not(:focus)
    ~ .field-date-label {
    left: 1.8rem;
    transform: translateY(-40%) scale(0.9);
    background-color: v.$color-white;
    padding: 0 0.4em;
    color: v.$color-accent;
  }

  // Special Edit Pages
  &--edit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .field-date-label {
      font-weight: 700;
    }

    .field-date-icon {
      position: absolute;
      left: 1rem;
      top: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: v.$color-accent;
    }
  }
}

.react-datepicker {
  position: absolute;
  z-index: 1;
  display: inline-block;
  background-color: v.$color-white;
  border: 1px solid v.$color-grey-lightest;
  border-radius: v.$border-radius;
  font-family: 'Lato';
  width: 100%;

  &-wrapper,
  &__input-container,
  &__input-container input {
    width: 100%;
  }

  &-popper {
    position: absolute;
    z-index: 1;
    inset: 1 auto auto 10.5% !important;
    transform: none;
    width: 90%;
    padding: 0.5rem 0;
    width: 100%;
  }

  &__month-container {
    width: 100%;
    border-radius: v.$border-radius;
  }

  &__navigation {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 32px;
    width: 32px;
    text-indent: -999em;
    overflow: hidden;
  }

  &__navigation--previous {
    top: 5%;
    left: 20%;
  }

  &__navigation--next {
    top: 5%;
    right: 20%;
  }

  &__navigation-icon {
    position: relative;
    top: -1px;
    font-size: 20px;
    width: 0;
  }

  &__navigation-icon--next::before {
    transform: rotate(45deg);
    left: -7px;
  }

  &__navigation-icon--previous::before {
    transform: rotate(225deg);
    right: -7px;
  }

  &__header {
    position: relative;
    padding: 1rem 0;
    background-color: v.$color-white;
    border: none;
    border-bottom: 1px solid v.$color-grey-lightest;
    border-top-left-radius: v.$border-radius;
    border-top-right-radius: v.$border-radius;
    text-align: center;
  }

  &__current-month {
    color: v.$color-text;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__month {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    width: 100%;
    font-size: 0.9rem;
    margin: 0;
    padding: 1rem 0;
  }

  &__day {
    color: v.$color-text;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-radius: v.$border-radius;
      background-color: v.$color-primary;
      color: v.$color-white;
    }

    &-names {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      width: 100%;
      padding-top: 0.5rem;
    }

    &-name {
      display: inline-block;
      width: 1.7rem;
      margin: 0.166rem;
      color: v.$color-grey-darkest;
      font-size: 0.9rem;
      line-height: 1.7rem;
      text-align: center;
      text-transform: uppercase;
    }

    &--today {
      border-radius: v.$border-radius;
      font-weight: 900;
    }

    &--selected {
      border-radius: v.$border-radius;
      background-color: v.$color-primary;
      color: v.$color-white;
    }

    &--range-start,
    &--range-end,
    &--selecting-range-end,
    &--selecting-range-start {
      border-radius: v.$border-radius;
      background-color: v.$color-primary;
      color: v.$color-white;
    }
  }

  &__week {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    color: v.$color-text;
  }
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: v.$color-grey;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: v.$color-grey;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
