@use '../../styles/variables' as v;

.container-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0.6rem;
}

.button-loader {
  width: 18px;
  height: 18px;
  background: v.$color-white;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}
.button-loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 18px;
  height: 18px;
  background: v.$color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.button-loader::after {
  content: '';
  box-sizing: border-box;

  border-radius: 20%;
  position: absolute;
  left: 20%;
  top: 20%;
  background: v.$color-primary-lightest;
  transform: translate(-20%, -20%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.button-loader-text {
  padding-right: 1rem;
  color: v.$color-white;
}
