@use './../../styles/variables' as v;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin-top: 4.5rem;
  padding: 3rem 0;
  background-color: v.$color-grey-lightest;
}
