@use '../../styles/variables' as v;

.edit-password {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    padding: 4rem 0.5rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem v.$gutter 2rem v.$gutter;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  &-back-btn {
    position: absolute;
    top: 0rem;
    z-index: 10;
  }
}
