@use '../../styles/_variables' as v;

.trip-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 800px;
  width: 90%;
  height: 200px;
  margin: auto;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  color: v.$color-text;

  &-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-size: 1.5rem;
    }

    &-icon {
      position: absolute;
      top: 28px;
      right: 70px;
      display: flex;
      align-items: end;
      justify-content: end;
      gap: 0.6rem;
      z-index: 9;
    }
  }

  &-author {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: v.$color-grey-darkest;
  }

  // &-description {
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }
}
