@use '../../styles/_variables' as v;

.trip-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 800px;
  width: 90%;
  height: 200px;
  overflow: hidden;
  margin: 2rem 0;
  background-color: v.$color-white;
  border-radius: v.$border-radius;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: v.$color-text;

  &-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 1.5rem;
    }

    &-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
    }
  }

  &-author {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: v.$color-grey-darkest;
  }

  // &-description {
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }
}
