// COLORS
$color-primary: #ff7d5c;
$color-primary-lightest: lighten($color-primary, 20%);
$color-primary-lightest2: lighten($color-primary, 28%);
$color-primary-darkest: darken($color-primary, 8%);
$color-accent: #1b3856;
$color-grey: #e8ebee;
$color-grey-lightest: lighten($color-grey, 4%);
$color-grey-darkest: darken($color-grey, 36%);
$color-text: #12273c;
$color-bg: lighten($color-primary, 31%);
$color-white: #fff;
$color-red: #cc2637;

// LAYOUT
$gutter: 1.6rem;
$border-radius: 0.5rem;

// FONT
$font: 'Nunito';
$font-size: 1rem;
