// COLORS
$color-primary: #ff8a5c;
$color-primary-lightest: lighten($color-primary, 22%);
$color-primary-darkest: darken($color-primary, 8%);
$color-accent: #1b3856;
$color-grey: #e8ebee;
$color-grey-lightest: lighten($color-grey, 8%);
$color-grey-darkest: darken($color-grey, 20%);
$color-text: #12273c;
$color-bg: lighten($color-primary, 31%);
$color-white: #fff;

// LAYOUT
$gutter: 1.6rem;
$border-radius: 0.5rem;

// FONT
$font: 'Nunito';
$font-size: 1rem;
