@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  margin: 0;
  font-family: v.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$color-text;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    width: 40%;
    display: block;
    height: 2px;
    left: 0;
    margin: 0 auto;
    right: 0;
    background-color: v.$color-primary;
    bottom: -10px;
  }
}
