@use '../../styles/variables' as v;

.no-trip {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &-image {
    width: 25%;
    padding-bottom: 2rem;
  }

  &-message {
    font-weight: bold;
  }

  &-instruction {
    padding-bottom: 2rem;
  }
}

.trips {
  &-container {
    height: 100%;
    width: 100%;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &-item {
      width: 100%;
      list-style: none;
    }
  }
}
