@use '../../styles/variables' as v;

.field {
  margin-bottom: 1.4rem;
  border: 1px solid v.$color-grey;
  border-radius: v.$border-radius;

  &:hover {
    box-shadow: 0px 2px 6px rgba(18, 39, 60, 0.1);
  }

  &:focus-within {
    box-shadow: 0px 2px 6px rgba(18, 39, 60, 0.2);
  }

  &-input {
    width: 100%;
    padding: 0.6rem;
    background-color: v.$color-white;
    font-weight: 300;
    border: none;
    border-radius: v.$border-radius;
    transition: all 0.3s ease;
    &:focus {
      outline: none;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 0.5rem;
  }
  .fa-solid {
    color: v.$color-text;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
