@use '../../styles/variables' as v;

.field {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;

  &-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    top: 1rem;
    color: v.$color-accent;
  }

  &-input {
    width: 100%;
    padding: 0.6rem;
    padding-left: 3.5rem;
    outline: 0;
    background-color: v.$color-white;
    border: 1px solid v.$color-grey-lightest;
    border-radius: v.$border-radius;
    color: v.$color-text;
    font-weight: 300;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid v.$color-accent;
    }
  }

  &-label {
    position: absolute;
    left: 3.2rem;
    top: -0.3rem;
    color: v.$color-grey;
    font-weight: 400;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .field-input:focus ~ .field-label,
  .field-input:not(:placeholder-shown).field-input:not(:focus) ~ .field-label {
    left: 1.8rem;
    transform: translateY(-40%) scale(0.9);
    background-color: v.$color-white;
    padding: 0 0.4em;
    color: v.$color-accent;
  }
}
