@use '../../styles/variables' as v;

.field {
  margin-bottom: 1.8rem;
  border: 1px solid v.$color-grey-lightest;
  border-radius: v.$border-radius;

  &:focus-within {
    border: 2px solid v.$color-accent;
  }

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 0.5rem;
  }

  &-input {
    width: 100%;
    padding: 0.6rem;
    background-color: v.$color-white;
    font-weight: 400;
    border: none;
    border-radius: v.$border-radius;
    color: v.$color-text;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:valid {
      outline: none;
    }
  }

  .fa-solid {
    color: v.$color-accent;
  }

  &-label {
    position: absolute;
    left: 3.2rem;
    bottom: 1.5rem;
    color: v.$color-grey;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.field:focus-within ~ label,
input:focus ~ label,
input:placeholder-shown ~ label {
  left: 1.8rem;
  transform: translateY(-40%) scale(0.9);
  background-color: v.$color-white;
  padding: 0 0.4em;
  color: v.$color-accent;
  font-weight: 700;
}
