@use '../../styles/variables' as v;

.header-navbar {
  font-weight: 400;
  font-size: v.$font-size;
  &-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    list-style: none;
    width: none;
  }

  &-list-link {
    text-decoration: none;
    color: v.$color-text;
    font-weight: 700;
    width: none;
    transition: all 0.3s ease;

    &:hover {
      color: v.$color-primary;
    }

    &.signin-signup {
      padding: 0.6rem v.$gutter;
      border: 2px solid v.$color-primary;
      border-radius: v.$border-radius;
      color: v.$color-primary;
      font-weight: 700;
      font-size: v.$font-size;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: v.$color-white;
        border: 2px solid v.$color-primary;
        background-color: v.$color-primary;
      }
    }
  }
  &-toggle {
    display: none;
    font-size: 2rem;
  }
}

// RESPONSIVE Screen < 999px
@media (max-width: 999px) {
  .header-navbar {
    display: none;
    position: fixed;
    left: 0;
    top: 4.5rem;
    width: 100%;
    height: calc(0px - 4.5rem);
    border-top: 1px solid v.$color-grey-lightest;
    background-color: v.$color-white;
    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    &.active {
      display: block;
      height: calc(300px - 4.5rem);
    }
    &-toggle {
      display: block;
      background-color: transparent;
      border: none;

      &-icon {
        color: v.$color-primary;
        background-color: v.$color-white;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      width: 100%;
      max-height: 0;
      opacity: 0;
      padding: 0 1rem;
      transition: max-height 0.3s linear, opacity 0.1s linear;
      .active & {
        height: 100%;
        max-height: 100%;
        opacity: 1;
        transition: max-height 0.1s linear, opacity 0.8s linear;
      }
    }
    &-list-link {
      width: 100%;
      padding: 0.6rem 0;
      text-align: center;

      .active & {
        height: 100%;
        max-height: 100%;
        opacity: 1;
        transition: max-height 0.1s linear, opacity 0.8s linear;
      }
    }
    &-list-link.signin-signup {
      border: none;
      color: v.$color-text;
      &:hover {
        border: none;
        background-color: transparent;
        color: v.$color-primary;
      }
    }
  }
  .active.header-navbar {
    left: 0;
    opacity: 1;
  }
}
