@use '../../styles/variables' as v;

.header-navbar {
  font-weight: 400;
  font-size: v.$font-size;
  &-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    list-style: none;
    width: none;
  }

  &-list-link {
    cursor: pointer;
    text-decoration: none;
    color: v.$color-text;
    font-weight: 700;
    width: none;
    transition: v.$ease-in-out;

    &:hover {
      color: v.$color-primary;
    }

    &--signin-signup,
    &--logout {
      padding: 0.6rem v.$gutter;
      border: 2px solid v.$color-primary;
      border-radius: v.$border-radius;
      color: v.$color-primary;
      font-weight: 700;
      font-size: v.$font-size;
      transition: v.$ease-in-out;

      &:hover {
        color: v.$color-white;
        border: 2px solid v.$color-primary;
        background-color: v.$color-primary;
      }
    }
  }
  &-toggle {
    cursor: pointer;
    display: none;
    font-size: 2rem;
  }
}

// RESPONSIVE Screen < 999px
@media (max-width: 999px) {
  .header-navbar {
    display: none;
    position: fixed;
    left: 0;
    top: 4.5rem;
    width: 100%;
    height: calc(0px - 4.5rem);
    border-top: 1px solid v.$color-grey-lightest;
    background-color: v.$color-white;
    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.3);
    transition: v.$ease-in-out;
    opacity: 0;

    &-toggle {
      display: block;
      background-color: transparent;
      border: none;

      &-icon {
        color: v.$color-primary;
        background-color: v.$color-white;
      }
    }
    &-list {
      flex-direction: column;
      gap: 0;
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      opacity: 1;
      transition: max-height 0.1s linear, opacity 0.8s linear;
    }
    &-list-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      max-height: 100%;
      opacity: 1;
      transition: max-height 0.1s linear, opacity 0.8s linear;
      padding: 0.6rem 0;
      text-align: center;
    }

    &--signin-signup {
      padding: 0rem v.$gutter;
      border: 2px solid v.$color-primary;
      border-radius: v.$border-radius;
      color: v.$color-primary;
      font-weight: 700;
      font-size: v.$font-size;
      cursor: pointer;
      transition: v.$ease-in-out;

      &:hover {
        color: v.$color-white;
        border: 2px solid v.$color-primary;
        background-color: v.$color-primary;
      }
    }
  }

  .active.header-navbar {
    display: block;
    height: calc(300px - 4.5rem);
    left: 0;
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .text-disconnected {
    display: none;
  }
}
