@use '../../styles/variables' as v;

.header-navbar {
  font-weight: 400;
  font-size: v.$font-size;

  &-list {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4rem;
    list-style: none;
  }

  &-list-link {
    text-decoration: none;
    color: v.$color-text;
    font-weight: 600;

    &:hover {
      color: v.$color-primary;
    }
  }
}
