@use '../../styles/variables' as v;

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;

  color: v.$color-grey-darkest;

  &:hover {
    text-decoration: underline;
  }
}
