@use '../../styles/variables' as v;

.forgot-password {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

    &-title {
      margin-bottom: 2.5rem;
      text-align: center;
      font-size: 1.5rem;
  }

  &-title {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 0,8rem;
}

&-form {
  margin-top: 3rem;

}

}