@use '../../styles/variables' as v;

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  width: 100%;
  height: 100%;
  background-color: v.$color-grey-lightest;

  &-container {
    max-width: 450px;
    width: 90%;
    max-height: 600px;
    height: 100%;
    padding: 4rem 0;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    padding: v.$gutter;
  }

  &-title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    font-size: v.$font-size;
  }

  &-toggle-button {
    width: 100%;
    padding: 0.6rem v.$gutter;
    font-weight: 600;
    border: none;
    border-bottom: 3px solid v.$color-grey;
    background-color: transparent;
    color: v.$color-text;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: v.$color-primary-lightest;
      border-bottom: 3px solid v.$color-primary-lightest;
    }

    &.button--active {
      color: v.$color-primary;
      border-bottom: 3px solid v.$color-primary;
    }
  }
}
