@use '../../styles/variables' as v;

.modal-confirm-email {
  &-title {
    text-align: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-icon {
    color: v.$color-text;
    border-radius: 100%;
    padding: 0.8rem;
    font-size: 1.8rem;
  }

  &-text {
    padding-bottom: 1rem;
  }
}
