@use './../../styles/variables' as v;

.button--submit {
  width: 100%;
  margin-bottom: 3rem;
  padding: 0.6rem;
  background-color: v.$color-primary;
  border: none;
  border-radius: v.$border-radius;
  color: v.$color-white;
  font-weight: 600;
  font-size: v.$font-size;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: v.$color-primary-darkest;
  }
}
