@use '../../styles/variables' as v;

.modal-password {
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &-title {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid v.$color-grey-lightest;
    text-align: center;
  }

  &-text {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid v.$color-grey-lightest;
    text-align: center;
  }

  &-icon {
    color: v.$color-red;
    background-color: v.$color-red-lightest;
    border-radius: 50%;
    padding: 0.8rem;
    font-size: 1.5rem;
  }

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    max-width: 500px;
    background-color: v.$color-white;
    padding: 2rem;
    border-radius: v.$border-radius;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: v.$color-text;
  }

  &-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
  }
}


