@use '../../styles/variables' as v;

.one-trip {
  &-overview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid v.$color-grey-middle-lighten;

    &-image {
      width: 30%;
      max-height: 200px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: v.$border-radius 0 0 v.$border-radius;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 0.5rem;
    }

    &-infos {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 0.5rem;
    }

    &-buttons {
      margin-top: 0.5rem;
      display: flex;
      gap: 1rem;
    }

    &-date,
    &-localisation {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &-members {
    margin-bottom: 1.5rem;
  }

  &-propositions {
    width: 100%;
    &-title {
      padding: 1rem 0;
    }
    &-add-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5rem;
    }
  }
}

// RESPONSIVE Screen < 999px
@media (max-width: 999px) {

  .one-trip {
    &-overview,
    &-members,
    &-propositions-add-container {
      flex-direction: column;
}
}
}