@use '../../styles/variables' as v;

.modal-delete {
  &-text {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid v.$color-grey-lightest;
    text-align: center;
  }

  &-icon {
    color: v.$color-red;
    background-color: v.$color-red-lightest;
    border-radius: 50%;
    padding: 0.8rem;
    font-size: 1.5rem;
  }

  &-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
  }

  &-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;

    &-icon {
      font-size: 1.5rem;
      color: v.$color-grey-darkest;
      transition: v.$ease-in-out;

      &:hover {
        color: v.$color-text;
      }
    }
  }
}
