@use '../../styles/variables' as v;

.one-trip {
  &-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 90%;
    gap: 1rem;
  }
  &-members {
    border-bottom: 1px solid v.$color-grey-middle;
    width: 90%;
    padding: 0.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    &-icon {
      border: 2px solid v.$color-primary;
      padding: 0.7rem;
      border-radius: 100%;
      font-size: 1.2rem;
    }
  }

  &-overview {
    border-bottom: 1px solid v.$color-grey-middle;
    width: 90%;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &-image {
      width: 30%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: v.$border-radius 0 0 v.$border-radius;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      gap: 0.5rem;
    }

    &-buttons {
      margin-top: 0.5rem;
      display: flex;
      gap: 1rem;
    }

    &-date,
    &-localisation {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: start;
      align-items: center;
    }
  }
}
