@use '../../styles/variables' as v;

.one-trip {
  &-overview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid v.$color-grey-middle-lighten;

    &-image {
      width: 30%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: v.$border-radius 0 0 v.$border-radius;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      gap: 0.5rem;
    }

    &-buttons {
      margin-top: 0.5rem;
      display: flex;
      gap: 1rem;
    }

    &-date,
    &-localisation {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &-members {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid v.$color-grey-middle-lighten;

    &-btn {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      background-color: v.$color-primary-lightest2;
      border: 1px solid v.$color-primary-lightest2;
      border-radius: v.$border-radius;
      padding: calc(0.6rem - 1px);
      color: v.$color-accent;

      &--isActive {
        border: 1px solid v.$color-text;
      }

      &:hover {
        border: 1px solid v.$color-text;
      }
    }
  }

  &-propositions {
    width: 100%;
    &-title {
      padding: 1rem 0;
    }
    &-add-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
