@use '../../styles/variables' as v;

.footer {
  width: 100%;
  padding: 1.4rem;
  background-color: v.$color-accent;
  color: v.$color-white;
  text-align: center;

  &-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: v.$ease-in-out;
    &-link {
      text-decoration: none;
      color: v.$color-white;
      font-weight: 700;
      font-size: 0.8rem;
      &:hover {
        color: v.$color-accent-lightest;
      }
    }
  }

  &-copyright {
    padding-top: 0.8rem;
    font-weight: 400;
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .footer {
    &-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
