@use '../../styles/variables' as v;

.modal-delete-account {
  &-icon {
    color: v.$color-red;
    background-color: v.$color-red-lightest;
    border-radius: 50%;
    padding: 0.8rem;
    font-size: 1.5rem;
  }

  &-text {
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
  }

  &-form {
    width: 100%;
  }

  &-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
  }

}
